@model Vidly.Models.MembershipType


@{
    ViewBag.Title = "AddMembershipType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add a Membership Type for Customers to Choose From</h2>

<h3>Use the Form Provided Below:</h3>

@using (Html.BeginForm("CreateMembershipType", "MembershipTypes", FormMethod.Post))
{

    @*<div class="form-group">
                @Html.LabelFor(m => m.MembershipTypeID)
                @Html.TextBoxFor(m => m.MembershipTypeID, new { @class = "form-control" })
        </div>*@

    <div class="form-group">
        @Html.LabelFor(m => m.MembershipName)
        @Html.TextBoxFor(m => m.MembershipName, new { @class = "form-control" })
    </div>

    <br />

    <div class="form-group">
        @Html.LabelFor(m => m.RegistrationFee)
        @Html.TextBoxFor(m => m.RegistrationFee, new { @class = "form-control" })
    </div>

    <br />

    <div class="form-group">
        @Html.LabelFor(m => m.SubscriptionDuration)
        @Html.TextBoxFor(m => m.SubscriptionDuration, new { @class = "form-control" })
    </div>

    <br />

    <div class="form-group">
        @Html.LabelFor(m => m.DiscountRate)
        @Html.TextBoxFor(m => m.DiscountRate, new { @class = "form-control" })
    </div>

    <br />

    <input type="submit" class="btn btn-primary" value="Submit">

}











